<h1><%=I18n.t('product.alert.edit.title') %></h1>
<%= form_tag(@product, method: 'put') do %>
  <%= label_tag(:title, 'Title') %>
  <%= text_field(:product, :title) %>
  <%= text_field(:product, :price) %>
  <%= text_field(:product, :description) %>
  <%= text_field(:product, :category_id) %>
  <%= file_field(:product, :image) %>
  <%= image_tag @product.image_url.to_s %>
  <%= submit_tag('Submit') %>
<% end %>
