<h1><%=I18n.t('product.alert.create.title') %></h1>
<%= form_tag(@product, method: 'post', :multipart => true) do %>
  <%= text_field(:product, :title) %>
  <%= text_field(:product, :price) %>
  <%= text_field(:product, :description) %>
  <%= text_field(:product, :category_id) %>
  <%= file_field(:product, :image) %>
  <%= submit_tag(I18n.t('product.index.titleCreate')) %>
<% end %>
