<!DOCTYPE html>
<html>
  <head>
    <title>Jquery book</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container'>
      <% flash.each do |key, value| %>
        <% if key=='alert' %>
          <div class="alert alert-danger">
            <strong><%= key %>!</strong> <%= value %>
          </div>
        <% else %>
          <div class="alert alert-<%= key %>">
            <strong><%= key %>!</strong> <%= value %>
          </div>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
